/*html,body{
    width:100%;
    height:100%;
    min-width:950px;overflow:auto;
}
div,span{
    cursor:default;
}
input + label {
    cursor:pointer;
}
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
a, a:link, a:visited, a:hover, a:active{
    text-decoration:none
}
img, iframe {
    border: none;
    text-decoration:none;
}
ol, ul {
    list-style: none;
}*/
    /*::-webkit-scrollbar-track/*滑动轨道*/
  /*  {
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
        border-radius: 0px;
        background: rgba(0,0,0,0.1);
    }*/

    /*::-webkit-scrollbar-thumb/*滑块*/
   /* {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: rgba(0,0,0,0.1);
    }*/

    /*::-webkit-scrollbar-thumb:hover/*滑块效果*/
   /* {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: rgba(0,0,0,0.2);
    }*/

/*开始*/
.body-site-2{
    width:calc(100%);
    height:100%;
}
.body-site-2>div{
    height:100%;
    float:left;
}
/*下面三个都是#chart的div*/
.chart-2-container{
    position:relative;
    height:100%;
}
.body-site-2-leftContent{
    background-color:#fff;
    width:calc(100%);
    position:relative;
}
/*最大的父容器*/
#chart-2{
    background-color:#fff;
    width:calc(100%);
    min-height:746px;
    overflow:hidden;
    position:relative;
}
/*svg的容器*/
.chart-2-body{
    width:calc(100%);
    position:relative;
    height:100%;
    float:left;
}
/*svg画布*/
svg.bihi-svg-2{
    cursor:move;
    width: 100%;
    height: 100%;
    /*background: #ccc;*/
}
/*提示信息工具条*/
#tooltip-2{
    position:absolute;
    pointer-events:none;
    font-size:0.7em;
    /*font-family:sans-serif;*/
    padding:3px;
    width:auto;
    height:auto;
    background-color:#f2f2f2;
    -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.4);
    -ms-box-shadow:0px 0px 5px rgba(0,0,0,0.4);
}
#tooltip-2 p {
    margin:0;
}
/*定位条工具*/
.toolbar-2{
    position:absolute;
    top:25px;
    right:340px;
    float:right;
    text-align:right;
    width:100px;
    height:30px;
    display:none;
}
span.tool-item-2{
    position:relative;
    display:inline-block;
    line-height:30px;
    padding:0.7px;
    text-align:center;
    color:gray;
}
span.tool-item-2:hover{
    color:#4787a4;
    cursor:pointer;
}
span.tool-title-2{
    display:none;
    position:absolute;
    top:15px;
    left:0;
    font-size:12px;
}
span.tool-item-2:hover >span.tool-title-2{
    display:inline;
    cursor:pointer;
}

/*地图层级*/
/*
.mapLevel{
    position:absolute;
    top:10px;
    left:130px;
    border:1px solid darkgray;
    padding:10px;
    background:rgba(255,255,255,0.8);
    width:110px;
    height:150px;
}
*/
.map-Level-btn-c{
    position:absolute;
    top:5px;
    left:5px;
    width:calc(100% - 10px);
}
.level-item{
    padding:7px 0px;
    font-size:14px;
    cursor:pointer;
}
.level-item:hover {
    background-color: rgba(0,0,0,.05);
}
.level-item-title {
    font-size: 14px;
    padding-bottom: 12px;
    cursor: default;
}
.level-item-title:hover {
    background-color: transparent;
}

/*封装的函数 功能 */
/*.node-item{
    padding: 3px 10px 3px 10px;
    cursor:pointer;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:100%;
}*/
.node text.svg-text-sel-2{
    fill:#070302;
    text-shadow:0px 0px 3px rgb(255,255,255);
    opacity:1;
    text-decoration:underline;
}







/*节点*/
.node rect{
    cursor:pointer;
    fill-opacity:.9;
    shape-rendering:crispEdges;
}
.node text{
    pointer-events:none;
}

